APP_DOUBAO_API_KEY=your_doubao_api_key_here
APP_DOUBAO_VIDEO_MODEL=doubao-seedance-1-5-pro-251215
APP_TTS_APP_ID=6227185030
APP_TTS_ACCESS_TOKEN=your_tts_access_token_here
APP_TTS_CLUSTER=volcano_tts
